$mobile-xs: 392px;
$mobile: 592px;
$tablet: 992px;
$decstop-small: 1200px;
$decstop: 1292px;
@mixin mobile-xs {
  @media screen and (max-width: $mobile-xs) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin decstop-small {
  @media screen and (max-width: $decstop-small) {
    @content;
  }
}

@mixin decstop {
  @media screen and (min-width: $decstop) {
    @content;
  }
}