.about {
    padding: 96rem;
    &__desc{
        margin-bottom: 40rem;
        max-width: 628rem;
    }
    
    &__title{
        margin-bottom: 32rem;
    }
    &__info{
        transform: translateY(82px);
        @include tablet{
            text-align: center;
         }
    }
    &__btn{
        margin-bottom: 0;
        @include tablet{
            margin-bottom: 32rem;
        }
    }
    @include tablet{
        padding-bottom: 188rem;
    }
    @include mobile{
        padding: 188rem;
    }
    @include mobile-xs{
        padding: 156rem;
    }

}


.about .container{
    display: flex;
    justify-content: space-between;
    gap: 89rem;
    @include tablet{
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
}


.image {
    max-width: 497rem;
    width: 100%;
    border-radius: 24rem;
    position: relative;
    @include tablet{
       margin-inline: auto;
    }
}
.image img{
    border-radius:inherit;
    position: relative;
    z-index: 2;
}
.image-backdrop{
    position: absolute;
    width: 86%;
    aspect-ratio: 1.1;
    background:  #000;
    top: 33rem;
    right: 105rem;
    box-sizing: border-box;
    border: 12rem solid rgb(234, 179, 8);
    border-radius: 24rem;
    @include mobile-xs{
        border: 8rem solid rgb(234, 179, 8);
        right: 55rem;
     }
     @include mobile{
        border: 12rem solid rgb(234, 179, 8);
     }

}