.header{
    max-height: 62px;
 
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__title {
        font-size: 24rem;
        font-weight: 700;
        transition: .3s all ease-in-out;
        cursor: pointer;
    }
    
    &__title:hover {
        transform: scale(1.1);
    }
}
