.welcome {
    padding: 96rem 0;

    &__info {
        max-width: 466rem;

        @include tablet {
            max-width: 100%;
            text-align: center;
        }
    }

    &__mark {
        color: rgb(234, 179, 8);
        font-family: Lexend Deca;
        font-size: 16rem;
        font-weight: 400;
        line-height: 27rem;
        margin-bottom: 24rem;
    }

    &__title {
        color: rgb(243, 244, 246);
        font-family: Lexend Deca;
        font-size: 42rem;
        font-weight: 700;
        line-height: 64rem;
        margin-bottom: 8rem;
    }

    &__desc {
        color: rgb(107, 114, 128);
        font-family: var(--font-family);
        font-size: 16rem;
        font-weight: 400;
        line-height: 27rem;
        max-width: 461rem;
        margin-bottom: 24rem;

        @include tablet {
            margin-inline: auto;
            margin-bottom: 44rem;
        }
    }

    &__container {
        display: flex;
        gap: 199rem;

        @include tablet {
            flex-direction: column;
            gap: 80rem;
        }
    }

    &__img {
        
        @include tablet {
            margin-inline: auto;
        }
    }
    &__img-img{
        border-radius: 24rem;
    }
   
}
